 .back{
    position: absolute;
    top: 85%;
    left: 16%;
    z-index: 7;
}

 .startprocess{
    position: absolute;
    top: 85%;
    left: 75%;
}

 .Box{

  background-color: #FFFFFF;
  position: absolute;
  height: 20rem;
  width: 18rem;
  left: 1%;
  top: 70%;
  z-index: 1;

 }

 .options{
  font-family: Futura;
  position: absolute;
  left: 39%;
  top: 36%;
 }
