.App {
  text-align: center;
  height: 100vh; /*this styling lets the content stretch to bottom of page*/
}

.MuiButton-root {
  text-transform: none !important;
}

/*override @material-ui's css settings*/
.MuiButton-root, .MuiButtonGroup-root, .MuiInputLabel-root, .MuiSelect-select {
    /*text-transform: ;*/
    /*font-size: 800%  !important;*/
}

.MuiInputBase-root {
    font-size: 100% !important;
}

.header {
  display: block;
  padding-top: 10px;
  background-color: #0F5298;
  height: 75px;
  border-bottom: 1px solid #3C99DC;
}

.MuiToolbar-root.info {
  /*font-family: Futura, serif !important;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.logo, .title, .version {
  margin: 0 5px !important;
}

.logo img {
    width: 40px;
    height: auto;
}

.title {
    font-size: 300% !important;
    padding: 0;
}

.version {
  font-size: 100% !important;
}

.homepage{
  font-family: Futura, serif;
  position: absolute;
  left: 60.5%;
  top: 36%;
}

.Help{
  position: absolute;
  left: 87%;
  top: 30%;
}
