.prog-content {
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
}

.MuiButtonGroup-root.prog-item, .MuiTypography-root.prog-item {
    margin: 0;
    padding: 20px;
}

.MuiLink-root.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.MuiButtonGroup-root {
    display: block !important;
}

.MuiLinearProgress-root.progress {
    margin: auto;
}