.build_form {
    height: 100%;
    padding: 40px 0;
    display: table;
    table-layout: auto;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    position: relative;
}

.back, .start {
    position: absolute;
    font-size: 1.1rem;
    width: max-content;
    padding: 10px 20px;
}

.back {
    left: 0;
}

.start {
    right: 0;
}

.form_label {
    text-align: left;
    width: max-content;
}

.form_input {
    padding-right: 20px;
}

.form_input.is_range {
    display: flex;
    flex-direction: row;
    width: 100%;
}