.full-height {
    height: calc(100% - 64px); /*64px is height of header*/
}

.MuiTypography-root .MuiTypography-h2 .MuiTypography-body1 {
    font-size: 120% !important;
}

/*.MuiTypography-h2 .MuiTypography-body1{*/
/*    font-size: 500% !important;*/
/*}*/

.MuiFormControlLabel-label.MuiFormLabel-root .MuiInputLabel-root {
    font-size: 110% !important;
}

.row {
    height: 100%;
    width: 100%; /*prevents wonky scroll bars*/
}

.col.col-3 {
    min-width: 300px; /* stops scrollbar from disappearing in the file scroll-window when window gets too narrow */
}

.left, .right {
    height: 100%; /*makes both columns same height*/
}

.left {
    background-color: #3c99dc;
    height: 100%;
}

.right.build, .right.build .home-content {
    height: 100%;
}

.MuiLink-root.build-btn {
    position: absolute;
    padding: 10px 20px;
    width: max-content;
    font-size: 1.5rem;
}

.MuiLink-root.build-btn.left-btn {
    left: 5%;
    bottom: 5%;
}

.MuiLink-root.build-btn.next {
    right: 5%;
    bottom: 5%;
}

.left .home-content {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.right .home-content .right-item {
    display: block;
    margin: 10px auto;
}

.MuiTypography-root.directions {
    padding: 10px;
    width: 70%;
    display: inline-block;
}

.app-description {
    padding: 10px;
    width: 70%;
    display: inline-block;
}

.preprocess-bt {
    padding: 10px;
    width: max-content;
    font-size: 1.1rem;
}

.MuiButtonGroup-root.file-list {
    display: block;
    padding: 13px;
    overflow: auto;
    max-height: 50vh;
    box-shadow: 0 0 5px #0F5298;
    max-width: inherit;
}

.new-file {
    padding: 10px;
    height: 50px;
}

.form-control-file {
    width: 60%;
}

.MuiButton-root, .MuiLink-root {
    font-size: 1em !important;
}

.MuiButton-root.btn-primary, .MuiLink-root.btn-primary {
    background-color: #0f5298;
    border-color: #0f5298;
}

.MuiButtonGroup-root .MuiButton-root.btn-file {
    border-color: black;
    width: 90%;
    background-color: #0F5298;
    display: block;
    margin: 5px auto;
    text-transform: none !important;
}

.MuiButton-label {
    width: calc(100%); /*without calc text overlap ellipses will not work*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.prompt-for-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}