.App {
  text-align: center;
}

/** {
  border: 1px solid;
}*/

.header {
  display: block;
  padding-top: 10px;
  background-color: #0F5298;
}

.info {
  font-family: Futura;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #3C99DC;
  margin: 0;
}

.logo, .title, .version {
  margin: 0 5px;
}

.logo img {
  width: 50px;
  height: auto;
}

.title{
  font-size: 265%;
  padding: 0;
}

.version{
  font-size: 100%;
}

.homepage{
  font-family: Futura;
  position: absolute;
  left: 60.5%;
  top: 36%;
}

.Help{
  position: absolute;
  left: 87%;
  top: 30%;
}

.preprocess{
  position: absolute;
  width: 36%;
  left: 49%;
  top: 253pt;
}

.csvFileInfo{
  width: 5rem;
  height: 341pt;
  background-color: #3C99DC;
  position: absolute;
  left: 0.01%;
  top: 17%;
}

.filelist{
  /*background-color: #000000;*/
  position: absolute;
  height: 20rem;
  left: 14%;
  top: 14%;
}

.addfile{
  position: absolute;
  left: 14%;
  top: 75%;

}

.chooseFile{
  padding:5px 10px;
  background:#0F5298;
  border:1px solid #000000;
  position:absolute;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer;
  top: 65%;
  left: 4.5%
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

