.back{
    position: absolute;
    top: 75%;
    left: 14%;
}

.nextbtn{
    position: absolute;
    top: 75%;
    left: 74%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 75%;
  width: 10%;
  position: absolute;
  left: 2%;
  top: 17%;
}

.App-title{
  font-family: Futura;
  font-size: 265%;
  position: absolute;
  left: 15%;
  top: 23%;
}

.App-Version{
  font-family: Futura;
  font-size: 100%;
  position: absolute;
  left: 15.3%;
  top: 70%;
}

.viewer{
  font-family: Futura;
  position: absolute;
  left: 60.5%;
  top: 36%;
}

.Help{
  position: absolute;
  left: 87%;
  top: 30%;
}

.csvFile{
  width: 5rem;
  height: 341pt;
  background-color: #3C99DC;
  position: absolute;
  left: 0.01%;
  top: 17%;
}

