.App {
  text-align: center;
}

.App-logo {
  height: 75%;
  width: 10%;
  position: absolute;
  left: 2%;
  top: 17%;
}

.App-title{
  font-family: Futura;
  font-size: 265%;
  position: absolute;
  left: 15%;
  top: 23%;
}

.App-Version{
  font-family: Futura;
  font-size: 100%;
  position: absolute;
  left: 15.3%;
  top: 70%;
}

.homepage{
  font-family: Futura;
  position: absolute;
  left: 60.5%;
  top: 36%;
}

.Help{
  position: absolute;
  left: 87%;
  top: 30%;
}

.container{
  /*#194174; Navy*/
  /*#CBCCC7; Beige*/
  /*#5986BF Baby Blue*/
  /*#498AA6; Teal*/
}

.preprocess{
  position: absolute;
  width: 36%;
  left: 49%;
  top: 253pt;
}

.csvFileInfo{
  width: 5rem;
  height: 341pt;
  background-color: #3C99DC;
  position: absolute;
  left: 0.01%;
  top: 17%;
}

.filelist{
  /*background-color: #000000;*/
  position: absolute;
  height: 20rem;
  left: 14%;
  top: 14%;
}

.addfile{
  position: absolute;
  left: 14%;
  top: 75%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.chooseFile{
  padding:5px 10px;
  background:#0F5298;
  border:1px solid #000000;
  position:absolute;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer;
  top: 65%;
  left: 4.5%
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

